/*Обнуляющий стиль*/
*{
	margin: 0;
	padding: 0;
}


/*Default отступы*/
.container{
	max-width: 1400px;
	margin: 0 auto;
}

/*Цвета необходимые в процессе правилбной вёрстки*/
.black{
	background-color: #222222;
}

.white{
	background-color: #f3f3f3;
}


/*Локально подключенные шрифты из папок проекта*/
										/*Gotham*/
@font-face{
	font-family: Gotham_Bold; 
	src: url(fonts/Gotham/Gotham_Bold.otf); 
}

@font-face{
	font-family: Gotham_Medium; 
	src: url(fonts/Gotham/Gotham_Medium.ttf); 
}

@font-face{
	font-family: Gotham_Book; 
	src: url(fonts/Gotham/Gotham_Book.ttf); 
}

										/*MyriadPro*/
@font-face{
	font-family: MyriadPro_Regular; 
	src: url(fonts/MyriadPro/MyriadPro_Regular.otf); 
}

										/*OpenSans*/
@font-face{
	font-family: OpenSans_Bold;
	src: url(fonts/OpenSans/OpenSans_Bold.ttf); 
}

@font-face{
	font-family: OpenSans_Regular; 
	src: url(fonts/OpenSans/OpenSans_Regular.ttf); 
}

										/*Шапка*/
header{
	background-image: url(imgs/header_bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 25px 0 100px 0;
}

/*Ограничение*/
header nav.container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
}

/*Логотип*/
header nav .logo{
	width: 100px;
	height: 100px;
	position: relative;
	margin: 20px 0 0 20px;
	transition: .5s ease;
}

header nav .logo:hover{
	width: 120px;
	height: 120px;
	margin: 10px 0 -10px 10px;

}

header nav .logo .blue_rec{
	width: 100px;
	height: 100px;
	background-color: #11749e;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

header nav .logo .white_rec{
	width: 100px;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.75);
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 0;
}

header nav .logo p.text{
	font-family: OpenSans_Bold;
	font-size: 48px;
	color: white;
	display: inline-block;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

/*Навигация*/
header nav .menu_icons{
	display: flex;
	align-items: center;
}

header nav .menu a{
	text-decoration: none;
	font-family: MyriadPro_Regular;
	font-size: 24px;
	color: #fff;
	margin-left: 20px;
	padding: 40px 10px 90px 10px;
	transition: .3s ease;
	position: relative;
}

header nav .icons{
	margin-left: 50px;
}

header nav .icons a{
	text-decoration: none;
	margin-left: 25px;
	padding: 40px 10px 93px 10px;
	transition: .3s ease;
	position: relative;
} 

header nav .icons a::after,
header nav .menu a::after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0px;
	background-color: #11749e;
	transition: .3s ease;
}

header nav .icons a:hover::after,
header nav .menu a:hover::after{
	height: 8px;
}

/*Разделитель*/
header hr{
	border: 0;
	width: 100%;
	height: 5px;
	background-color: rgba(255, 255, 255, .1);
	margin-bottom: 200px;
}

/*Информация под навигацией*/
header h1{
	font-family: Gotham_Bold;
	text-align: center;
	font-size: 164px;
	color: #fff;
}

header p.under_h1{
	text-transform: uppercase;
	font-family: Gotham_Medium;
	text-align: center;
	font-size: 30px;
	color: #11749e;
	letter-spacing: 20px;
	margin-bottom: 125px;
}

header p.scroll_down{
	font-family: OpenSans_Regular;
	color: #fff;
	font-size: 16px;
	text-align: center;
	margin-bottom: 30px;
}

header img.arrow{
	cursor: pointer;
	width: 25px;
	display: block;
	margin: 0 auto;
	border: 2px solid #fff;
	padding: 25px;
	border-radius: 100%;
	background-color: rgba(255, 255, 255, 0);
	transition: .5s ease;
}

header img.arrow:hover{
	background-color: rgba(255, 255, 255, .1);
}

										/*Тело*/
										/*Общие стили*/
/*Заголовок 2го уровня*/
main h2{
	text-align: center;
	font-family: Gotham_Book;
	font-size: 48px;
	text-transform: uppercase;
	position: relative;
}

/*Буква-фон заголовка*/
main h2 p{
	position: absolute;
	top:0;
	left: 50%;
	font-family: Roboto;
	transform: translate(-50%, -45%);
	font-size: 350px;
	opacity: 15%;
}

/*Заголовок 3го уровня*/
main h3{
	font-family: Gotham_Medium;
	font-size: 36px;
	text-transform: uppercase;
}

/*Заголовок 4го уровня*/
main h4{
	font-family: Gotham_Book;
	text-align: center;
	font-size: 22px;
	text-transform: uppercase;
}

										/*Конкертные стили стили*/
/*Заголовок*/
main .awesome_agency{
	background-color: #11749e;
	padding: 250px 0 100px 0;
}

main .awesome_agency h2,
main .awesome_agency h4{
	color: #fff;
}

main .awesome_agency h2{
	margin-bottom: 200px;
}

main .awesome_agency h4{
	margin-bottom: 40px;
}

/*БлоКИ с инофрмацией о будущем*/
main .awesome_agency .features{
	display: flex;
	justify-content: space-between;
}

/*БлоК с инофрмацией о будущем*/
main .awesome_agency .features .feature{
	width: 24%;
}

/*Фон артинка*/
main .awesome_agency .feature .block-img{
	cursor: pointer;
	background-color: #2e85aa;
	margin: 0 auto;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	position: relative;
	margin-bottom: 30px;
}

/*Анимация для фона картинки*/
main .awesome_agency .feature .block-img::before{
	content: "";
	width: 0;
	height: 0;
	border-radius: 50%;
	background-color: #11749e;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	transition: .3s ease;
}

main .awesome_agency .feature .block-img:hover::before{
	width: 145px;
	height: 145px;
}

/*Картинка*/
main .awesome_agency .feature .block-img img{
	width: 45px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

/*Текс под заголовком*/
main .awesome_agency .feature p{
	font-family: Gotham_Book;
	font-size: 18px;
	color: #fff;
	line-height: 1.4;
	text-align: center;
}

main .akita_inu_dog{
	margin-bottom: 225px;
}

main .akita_inu_dog .blocks{
	display: flex;
}

main .akita_inu_dog .blocks .block_text,
main .akita_inu_dog .blocks .block_img{
	width: 50%;
}

main .akita_inu_dog .blocks .block_img img{
	width: 100%;
	height: 100%;
}

main .akita_inu_dog .block_text .text-left{
	padding: 100px 100px 100px 200px;
	color: #fff;
}

main .akita_inu_dog .block_text h3{
	margin-bottom: 50px;
}

main .akita_inu_dog .block_text .text-left h3,
main .akita_inu_dog .block_text .text-left p{
	color: #fff;
}

main .akita_inu_dog .block_text .text-right{
	padding: 100px 200px 100px 100px;
}

main .akita_inu_dog .block_text .text-right h3,
main .akita_inu_dog .block_text .text-right p{
	color: #000;
}

main .akita_inu_dog .block_text p.overhead{
	font-family: Gotham_Book;
	font-size: 18px;
	margin-bottom: 10px;
}

main .akita_inu_dog .block_text span{
	margin: 0 10px;
}

main .akita_inu_dog .block_text p.info{
	font-family: Gotham_Book;
	font-size: 20px;
	margin-bottom: 35px;
	line-height: 1.5;
}

main .akita_inu_dog .block_text p.info:last-child{
	margin-bottom: 0;
}

main .lets_blog{
	margin-bottom: 125px;
}

main .lets_blog h2{
	margin-bottom: 175px;
}

main .lets_blog p.under_text{
	text-align: center;
	font-family: Gotham_Book;
	font-size: 36px;
	margin-bottom: 100px;
}

main .lets_blog .blocks{
	display: flex;
	justify-content: space-between;
}

main .lets_blog .blocks .block{
	width: 23%;
}

main .lets_blog .block img{
	width: 100%;
	margin-bottom: 25px;
}

main .lets_blog .block h4{
	color: #11749e;
	text-align: center;
	margin-bottom: 20px;
}

main .lets_blog .block p{
	font-family: Gotham_Book;
	text-align: center;
	line-height: 1.5;
	color: grey;
}

main .block_text_inf{
	background-color: #11749e;
}

main .block_text_inf .block{
	display: flex;
	justify-content: space-between;
	padding: 150px 0 200px 0;
}

main .block_text_inf .block .body{
	width: 47%;
	display: flex;
}

main .block_text_inf .body img{
	width: 100px;
	height: 100px;
	margin-right: 40px;
}

main .block_text_inf .body p{
	color: #fff;
	font-family: Gotham_Book;
	font-size: 20px;
	line-height: 1.5;
}

main .akita_inu_dog2{
	background-image: url(imgs/akita_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 150px 0;
	margin-bottom: 200px;
}

main .akita_inu_dog2 .body{
	display: flex;
	align-items: center;
}

main .akita_inu_dog2 .body div{
	width: 50%;
}

main .akita_inu_dog2 .img img{
	width: 70%;
	display: block;
	margin: 0 auto;
}

main .akita_inu_dog2 .text{
	padding-right: 50px;
}

main .akita_inu_dog2 .text h3{
	color: #fff;
	margin-bottom: 50px;
}

main .akita_inu_dog2 .text .text{
	color: #fff;
	font-family: Gotham_Book;
	line-height: 1.5;
	font-size: 20px;
	margin-bottom: 75px;
}

main .akita_inu_dog2 .text li{
	color: #fff;
	list-style-type: none;
	background-color: #11749e;
	padding: 10px 0 10px 25px;
	font-family: Gotham_Book;
	font-size: 18px;
	margin-bottom: 30px;
	text-transform: uppercase;
}

main .akita_inu_dog2 .text li:nth-child(1){
	width: 60%;
}
main .akita_inu_dog2 .text li:nth-child(2){
	width: 65%;
}
main .akita_inu_dog2 .text li:nth-child(3){
	width: 70%;
}

main .our_team{
	margin-bottom: 150px;
}

main .our_team h2{
	margin-bottom: 200px;
}

main .our_team p.under_text{
	text-align: center;
	font-family: Gotham_Book;
	font-size: 36px;
	margin-bottom: 100px;
}

main .our_team .blocks{
	display: flex;
	justify-content: space-between;
}

main .our_team .block{
	width: 23%;
}

main .our_team .block .img{
	position: relative;
}

main .our_team .block img{
	width: 100%;
}

main .our_team .block .block_text_OT{
	width: 75%;
	position: absolute;
	bottom: -5%;
	left: 50%;
	transform: translate(-50%,0);
}

main .our_team .block .block_text_OT{
	background-color: #fff;
	padding: 25px 0;
}

main .our_team .block .block_text_OT h3{
	font-size: 24px;
	text-align: center;
	color: #11749e;
	margin-bottom: 10px;
}

main .our_team .block .block_text_OT p{
	font-family: Gotham_Book;
	font-size: 20px;
	text-align: center;
}

main .we_love{
	background-image: url(imgs/form_bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 300px 0 100px 0;
}

main .we_love h2{
	color: #fff;
	margin-bottom: 200px;
}

main .we_love .inputs{
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

main .we_love .inputs input{
	width: 31%;
	padding: 10px 25px;
	font-size: 20px;
}

main .we_love input,
main .we_love textarea{
	width: 100%;
	padding: 15px 25px;
	font-size: 20px;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0);
	border: 2px solid #fff;
	color: #fff;
}

main .we_love textarea::placeholder,
main .we_love input::placeholder{
	color: #fff;
}

main .we_love textarea:focus,
main .we_love input:focus{
	outline: none;
}
main .we_love textarea{
	margin-bottom: 50px;
}

main .we_love button{
	display: block;
	margin: 0 auto;
	font-size: 24px;
	color: #fff;
	padding: 20px 80px;
	background-color: #11749e;
	border: 0;
}